@model Shortnr.Web.Models.Url
    @{
    ViewBag.Title = "URL shortener";
}

<h2>Shorten a URL</h2>
@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.TextBoxFor(model => model.LongURL, new { placeholder = "URL you would like to have shortened", @class = "form-control" })
    </div>
    if (!string.IsNullOrEmpty(Model.ShortURL))
    {
        <div>
            <a href="@Model.ShortURL" target="_blank">@Model.ShortURL</a>
        </div>
    }
    <input type="submit" class="btn btn-primary" value="Shorten" />
}